*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --color1:#733A19;
    --color2:#D9BD9C;
    --color3:#D9D9D9;
    --color4:#262626;
}
main{
    min-height: 100vh;
   background: linear-gradient(rgba(5,7,12,0.4),rgba(5,7,12,0.4)),
   url("img/fondo1.jpg") no-repeat center center fixed; 
    background-size:cover;/*cubrir todo*/
    color:white;
    
}

#contenedor{    
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;  
    font-family: Helvetica, sans-serif;    
}
#navegador{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 20;
    border:1px solid white;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin:20px;
}
.menu li{
    padding:10px
}
.menu li a{
    text-decoration: none;
    padding:10px;
    text-transform: uppercase;
    color:white
}

.menu li a:hover{
    opacity: 0.5;
}

.redes{
    display: flex;
    list-style-type: none;
    justify-content: center;
    
}
.redes li a{
    padding: 5px;
}
.redes li a:hover{
    opacity: 0.5;
}
.redes li a img{
    filter: invert(100%);
}
h1{
    font-size: 5em;
    letter-spacing: 7px;
    padding:20px;
    font-style: italic;
    text-align: center;
    
}

span{
    font-style: oblique;
    opacity: 0.75;
}
h2{
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
    
}
#cafe{
    width: 60%;
    margin:auto;
    height: 2500px;
   
}
#cafe nav ul a{
    color:blue
}
#caf{
    border-bottom: 2px solid tomato;
    
    text-align: center;
}
#contenido{
    padding:20px;
    margin-bottom: 10px;
}
#bebe img{
    width: 100%;
}
#cafe .redes li a img{
    filter: invert(0);
}
h1 a{
    color:var(--color4);
    text-decoration: none;
    
}
h1 a:hover{
    opacity: 50%;
}
#taza{
     float:left; 
     margin:10px;    
}
#caffeine{
    float:right;
    margin:10px;
}
#foto{
    width:50px;
    border-radius: 50%;    
}
figure{
    float:right;
    text-align: center;
    font-size: 0.8em;
    color:#733A19
}
#contenido p{
    text-align: justify;
    padding:20px;
    color: var(--color1);
    

}

#galeria {
  margin: auto;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item {
    width: 30%;  
    margin:10px;
    text-align: center;      
}
.item img {
  width:100%;
  box-shadow: 5px 5px 5px var(--color4);  
}
.item a{
    opacity: 0.7;
}
.item a:hover{
    opacity: 1;
}
#contenido .item p{
    text-align: center;
    color:var(--color1);
    font-style: italic;
   
}.video{
    border:4px double var(--color4);
    position:relative;
    padding-bottom: 56.25%;
    height:0 ;
    margin-top: 10px;
    box-shadow: 5px 5px 5px var(--color4);
    z-index: 10;

}
.video iframe{
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.contacto{    
    background:linear-gradient(35deg,var(--color2),white); 
}
#informacion{
    display:flex;
    justify-content: space-around;
}
.info{    
    padding:5px;
    overflow-x: auto;
    text-align: center;
}
table{
    border-collapse: collapse;
    padding:5px;
    width: 100%;
}
th{
    height: 30px;
    background-color: black; 
    color:white      
}
td{
    border:2px solid white;
    padding:5px;
}
form{    
    padding:10px;
}
input,textarea{
    width:100%;
    margin-bottom: 5px;
}
input[value="ENVIAR"]{
    padding:5px;
    background-color: gray;
    color:white;
    font-weight: bold;
}
textarea{
    padding:5px;
}
#titulo{
    text-align: center;
    background-color: black;
    color:white;
    padding:5px;
    font-weight: bold;
}
.googlemaps{
    padding:10px
}
article{
    width: 45%;    
}
.info img{
    width: 50%;
    border:5px solid white;
    margin-top: 5px;
}

.nosotros{
    display: grid;
    grid-template-areas:
         "sup sup"
         "izq der"
         "inf inf";
    gap:10px;
    grid-template-columns: 4fr 1fr;    
}
.header{
    grid-area: sup;
    background-color: var(--color4);
    color:var(--color3);
}
.section{
    grid-area: izq;
}
.aside{
    grid-area: der;
}
.footer{
    grid-area: inf;
    text-align: center;
    background-color: var(--color4);
    color:var(--color3);
    padding: 20px 0;
}
#imagenes{
    text-align: center;
}
#imagenes img{
    width:45%;
    margin:0 10px;
}
.aside h4{
    text-align: center;
}
.section h4{
    padding:5px
}
.section hr{
    width: 90%;
    color: var(--color1);
    margin: 10px auto;
    
}
.aside img{
    max-width: 100%;
}
.publicidad img {
      width: 300px;
      height: 500px;
      object-fit: fill;

    }
